[submodule "swingIO"]
	path = swingIO
	url = https://github.com/Recoskie/swingIO
[submodule "RandomAccessFileV"]
	path = RandomAccessFileV
	url = https://github.com/Recoskie/RandomAccessFileV.git
[submodule "core"]
	path = core
	url = https://github.com/Recoskie/core
